@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

:root {
    --accent-color: #ed0a71;
}

body {
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-color: #111111;
    color: white;
    padding: 20px;
}

h3 {
    color: #FFFFFF90;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 30px;
}

.step {
    display: block;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 50px;
    border: 1px solid #6b43ff;
    width: max-content;
    margin: auto;
    color: #6b43ff;
    margin-bottom: 6px;
}

hr {
    border: solid 1px #fff;
    opacity: .1;
    max-width: 700px;
    margin: 30px auto;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

@keyframes rotateGradient {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

/* Drop files area */
#drop-area {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='dimgrey' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 30px;
    padding: 60px;
    margin: 20px auto;
    position: relative;
    cursor: pointer;
    background-color: #ffffff05;
    max-width: 600px;
    transition: all .2s ease;
}

#drop-area.drag-over {
    background-color: #FFFFFF10;
}


.link1 {
    text-decoration: none;
    color: var(--accent-color);
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
}

/* Progress Bar */
#progress-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#progress-bar {
    margin: 10px auto;
    width: 80%;
    height: 8px
}

progress {
    border-radius: 10px;
    background-color: transparent;
    border: none;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}

progress::-webkit-progress-bar {
    background-color: #ddd !important;
    /* Background bar color */
    border-radius: 10px !important;
}

progress::-webkit-progress-value {
    background-color: var(--accent-color) !important;
    border-radius: 10px !important;
    transition: width 0.2s ease-in-out;
}

progress::-moz-progress-bar {
    background-color: var(--accent-color) !important;
    border-radius: 10px !important;
    transition: width 0.2s ease-in-out;
}

progress::-ms-fill {
    background-color: var(--accent-color) !important;
    border-radius: 10px !important;
}


#file-input {
    display: none;
}

#processing-text {
    display: none;
    font-weight: bold;
}

#image-counter {
    font-size: 0.9rem;
    color: #555;
}

#gallery {
    max-width: 650px;
    margin: auto;
}

#gallery img {
    width: 60px;
    margin: 5px;
    border-radius: 2px;
}

#clear-all {
    font-size: 14px;
    padding: 5px 10px;
    background-color: #ffffff10;
    border-radius: 5px;
    color: #ffffff90;
}

/* Watermark Selection */
#wm-icon-selection {
    display: flex;
    gap: 20px 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.wm-icon-category-wrapper {
    text-align: center;
    padding: 20px;
    background-color: #ffffff10;
    border-radius: 30px;
}

.wm-icon-category {
    font-weight: bold;
    margin-bottom: 10px;
}

.wm-icon img {
    max-height: 50px;
    max-width: 50px;
}

.wm-icon {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border: 2px solid transparent;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    /* Center the text */
    transition: all .2s ease;
    width: 60px;
}

.wm-icon:hover {
    background-color: #FFFFFF20;
}

.wm-icon-name {
    margin-top: 5px;
    /* Add some space between the icon and the text */
    font-size: 12px;
    color: #FFFFFF90;
}

.wm-icon.selected {
    background-color: var(--accent-color);
}

.main-button {
    --angle: 0deg;
    color: white;
    padding: 10px 25px;
    border-radius: 100px;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    font-size: 18px;
    background: linear-gradient(#d80766, var(--accent-color)) padding-box,
        linear-gradient(var(--angle), #ed0a71 40%, #ff5fa8 60%, #ed0a71 100%) border-box;
    border: 1px solid transparent;
    border-radius: 50em;
    animation: rotateGradient 4s linear infinite;
    transition: all .2s ease-out;
}

.main-button:hover {
    transform: scale(1.03);
}

/* Glowing effect */
.main-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background: linear-gradient(var(--angle), black 40%, #ff5fa8 60%, black 100%);
    z-index: 1;
    filter: blur(20px);
    mix-blend-mode: screen;
    opacity: 1;
    animation: rotateGradient 4s linear infinite;
}
